<h1>Account Details</h1>

<h5>Hi <%= user.firstname %> <%= user.lastname %>!</h5>

<ul class="list-unstyled">
  <li>Username: <%= user.username %></li>
  <li>Email: <%= user.email %></li>    
</ul>

<a href="/">Close</a>
<a href="/logout">Log out</a>
<a href="/edit">Edit</a>
<a href="/">Home</a>
