<h1>Edit Details</h1>

<%- partial('./partials/msg.ejs') %>

<form action="update" method="post">

  <%- partial('./partials/form.ejs') %>

  <a href="/forgot">Forgotten your password?</a>

  <label for="newpassword">New Password</label>
  <input name="newpassword" type="password" minlength="8" value="" class="form-control"/>

  <a class="mb-3 btn btn-danger" href="/">Cancel</a>
  <input class="mb-3 btn btn-primary" type="submit" autofocus value="Update" />

</form>
