<h1>Account Recovery</h15>
<form action="/recovery" method="post">

  <%- partial('./partials/form.ejs') %>

  <label for="email">Email</label>
  <input name="email" type="text" class="form-control"/>
    
  <a href="/" class="mb-3 btn btn-danger">Cancel</a>
  <input class="mb-3 btn btn-primary" type="submit" value="Recover" />
</form>   
