<div class="container">
  <div class="card bg-light mx-auto mt-3" style="max-width: 24rem;">
    <h5 class="card-header">Account Recovery</h5>
    <div class="card-body">
      <p>Please wait upto 15 minutes for your email and your temporary password.</p><p>Thank you.</p>
      <form action="/recovery" method="post">
        <div class="form-group">
          <label for="email">Email</label>
          <input name="email" type="text" class="form-control"/>
        </div>
        <a href="/" class="mb-3 btn btn-danger">Cancel</a>
        <input class="mb-3 btn btn-primary" type="submit" value="Login" />
      </form>   
    </div>
  </div>
</div>