<h1>Signup</h1>

<%- partial('./partials/msg.ejs') %>

<form action="/signup" method="post">
  
  <%- partial('./partials/form.ejs') %>

  <p>Already have an account? <br>
  <a href="/login">Click here to login.</a></p>

  <input type="submit"/>
</form>
